.upperbar{ 
    display: flex;
    position: relative;
    background-color: rgb(255, 255, 255); 
    opacity: .8;
}
.logo{
    margin-left: 50px;
}
.upper-items{
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap:50px;
    list-style: none;
    text-align: center;
    width: 200vw;
    justify-content: end;
    
}