.MuiCard-root {
  width: 400px;
  height: 550px;
  margin-left: 400px;
}

.MuiTypography-root {
  text-align: center;
  height: 40px;
  padding-top: 5px;
}

.MuiCardHeader-root {
  background: rgb(25, 0, 255);
  height: 60px;
}

.MuiCardHeader-title {
  color: white;
  text-align: right;
  padding-top: 10px;
  padding-right: 20px;
}

.MuiListItem-root {
  height: 40px;
}

.MuiListItemText-primary {
  width: 100px;
}

.MuiListItemText-secondary {
  text-align: left;
}

.MuiGrid-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.MuiCardActions-root {
  justify-content: center;
}

.MuiButton-label {
  background-color: orange;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}
